In [1]:
import pandas as pd
import numpy as np

In [2]:
alcohol = pd.read_csv('drinks.csv', usecols=['country', 'wine_servings'],
                       index_col='country')

In [3]:
alcohol = alcohol.squeeze()

Variance is the average of squared differences from the mean

Variance measures how spread out data is from its mean.


**For a population:**

**σ² = Σ(xᵢ - μ)² / N**


**For a sample:**

**s² = Σ(xᵢ - x̄)² / (n - 1)**

In [4]:
alcohol.var()

5796.5256115328575

In [5]:
alcohol.subtract(alcohol.mean())

country
Afghanistan           NaN
Albania          3.253086
Algeria        -36.746914
Andorra        261.253086
Angola          -5.746914
                  ...
Venezuela      -47.746914
Vietnam        -49.746914
Yemen                 NaN
Zambia         -46.746914
Zimbabwe       -46.746914
Name: wine_servings, Length: 193, dtype: float64

In [6]:
alcohol.subtract(alcohol.mean()) **2

country
Afghanistan             NaN
Albania           10.582571
Algeria         1350.335658
Andorra        68253.175164
Angola            33.027016
                   ...
Venezuela       2279.767756
Vietnam         2474.755411
Yemen                   NaN
Zambia          2185.273929
Zimbabwe        2185.273929
Name: wine_servings, Length: 193, dtype: float64

In [7]:
(alcohol.subtract(alcohol.mean()) **2).sum()

933240.6234567901

In [8]:
(alcohol.subtract(alcohol.mean()) **2).sum()/(alcohol.count() - 1)

5796.5256115328575

In [10]:
alcohol.std()

76.13491716376171

In [12]:
((alcohol.subtract(alcohol.mean()) **2).sum()/(alcohol.count() - 1)) **(1/2)

76.13491716376171

Cumulative Operations

In [13]:
alcohol.sum()

8221.0

In [15]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [14]:
alcohol.cumsum()

country
Afghanistan       NaN
Albania          54.0
Algeria          68.0
Andorra         380.0
Angola          425.0
                ...
Venezuela      8212.0
Vietnam        8213.0
Yemen             NaN
Zambia         8217.0
Zimbabwe       8221.0
Name: wine_servings, Length: 193, dtype: float64

In [16]:
np.nan + 648595

nan

In [18]:
pd.NA + 4546747

In [19]:
alcohol.cumsum(skipna=True)

country
Afghanistan       NaN
Albania          54.0
Algeria          68.0
Andorra         380.0
Angola          425.0
                ...
Venezuela      8212.0
Vietnam        8213.0
Yemen             NaN
Zambia         8217.0
Zimbabwe       8221.0
Name: wine_servings, Length: 193, dtype: float64

In [20]:
alcohol.cumsum(skipna=False)

country
Afghanistan   NaN
Albania       NaN
Algeria       NaN
Andorra       NaN
Angola        NaN
               ..
Venezuela     NaN
Vietnam       NaN
Yemen         NaN
Zambia        NaN
Zimbabwe      NaN
Name: wine_servings, Length: 193, dtype: float64

In [22]:
alcohol.prod() # product

3.427611505218281e+183

In [23]:
alcohol.cumprod()

country
Afghanistan              NaN
Albania         5.400000e+01
Algeria         7.560000e+02
Andorra         2.358720e+05
Angola          1.061424e+07
                   ...
Venezuela      2.142257e+182
Vietnam        2.142257e+182
Yemen                    NaN
Zambia         8.569029e+182
Zimbabwe       3.427612e+183
Name: wine_servings, Length: 193, dtype: float64

In [24]:
alcohol.cumprod()[-1]

/var/folders/3b/ly9h8hy931j_x7b1h6dbr1wc0000gn/T/ipykernel_3531/4144806846.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  alcohol.cumprod()[-1]

3.427611505218281e+183

In [25]:
alcohol.cumprod()[-1] == alcohol.prod()

/var/folders/3b/ly9h8hy931j_x7b1h6dbr1wc0000gn/T/ipykernel_3531/446466433.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  alcohol.cumprod()[-1] == alcohol.prod()

True

In [26]:
alcohol.min()

1.0

In [27]:
alcohol.cummin()

country
Afghanistan     NaN
Albania        54.0
Algeria        14.0
Andorra        14.0
Angola         14.0
               ...
Venezuela       1.0
Vietnam         1.0
Yemen           NaN
Zambia          1.0
Zimbabwe        1.0
Name: wine_servings, Length: 193, dtype: float64

In [28]:
alcohol.max()

339.0

In [29]:
alcohol.cummax()

country
Afghanistan      NaN
Albania         54.0
Algeria         54.0
Andorra        312.0
Angola         312.0
               ...
Venezuela      339.0
Vietnam        339.0
Yemen            NaN
Zambia         339.0
Zimbabwe       339.0
Name: wine_servings, Length: 193, dtype: float64

Pairwise Differences with diff()

In [30]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [32]:
alcohol.diff().head()

country
Afghanistan      NaN
Albania          NaN
Algeria        -40.0
Andorra        298.0
Angola        -267.0
Name: wine_servings, dtype: float64

In [33]:
alcohol.diff(periods=2).head()

country
Afghanistan      NaN
Albania          NaN
Algeria          NaN
Andorra        258.0
Angola          31.0
Name: wine_servings, dtype: float64

In [36]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [35]:
alcohol.diff(periods=-1)

country
Afghanistan      NaN
Albania         40.0
Algeria       -298.0
Andorra        267.0
Angola           0.0
               ...
Venezuela        2.0
Vietnam          NaN
Yemen            NaN
Zambia           0.0
Zimbabwe         NaN
Name: wine_servings, Length: 193, dtype: float64