In [1]:
import pandas as pd
import numpy as np

In [2]:
alcohol = pd.read_csv('drinks.csv', usecols=['country', 'wine_servings'],
                       index_col='country')

In [3]:
alcohol = alcohol.squeeze()

Skill Challenge

Q1. Select all the countries from alcohol that have more than 50 wine servings, and
save them(and the corresponding values) in a variable fifty_plus?

Q2. From fifty_plus, choose the countries with the smallest 20 wine servings values.

Q3. Find the mean, median and standard deviation for the sample from step 2?

In [4]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [5]:
alcohol[alcohol > 50]

country
Albania                54.0
Andorra               312.0
Argentina             221.0
Australia             212.0
Austria               191.0
Bahamas                51.0
Belgium               212.0
Bulgaria               94.0
Chile                 172.0
Cook Islands           74.0
Croatia               254.0
Cyprus                113.0
Czech Republic        134.0
Denmark               278.0
Equatorial Guinea     233.0
Estonia                59.0
Finland                97.0
Gabon                  59.0
Georgia               149.0
Germany               175.0
Greece                218.0
Hungary               185.0
Iceland                78.0
Ireland               165.0
Italy                 237.0
Laos                  123.0
Latvia                 62.0
Lithuania              56.0
Luxembourg            271.0
Montenegro            128.0
New Zealand           175.0
Norway                129.0
Paraguay               74.0
Poland                 56.0
Portugal              339.0
Romania               167.0
Russian Federation     73.0
St. Lucia              71.0
Serbia                127.0
Seychelles             51.0
Slovakia              116.0
Slovenia              276.0
South Africa           81.0
Spain                 112.0
Sweden                186.0
Macedonia              86.0
United Kingdom        195.0
USA                    84.0
Name: wine_servings, dtype: float64

In [6]:
fifty_plus = alcohol[alcohol > 50]

In [7]:
fifty_plus.head()

country
Albania       54.0
Andorra      312.0
Argentina    221.0
Australia    212.0
Austria      191.0
Name: wine_servings, dtype: float64

In [8]:
fifty_plus.nsmallest(n=20)

country
Bahamas                51.0
Seychelles             51.0
Albania                54.0
Lithuania              56.0
Poland                 56.0
Estonia                59.0
Gabon                  59.0
Latvia                 62.0
St. Lucia              71.0
Russian Federation     73.0
Cook Islands           74.0
Paraguay               74.0
Iceland                78.0
South Africa           81.0
USA                    84.0
Macedonia              86.0
Bulgaria               94.0
Finland                97.0
Spain                 112.0
Cyprus                113.0
Name: wine_servings, dtype: float64

In [9]:
fifty_plus.nsmallest(n=20).describe()

count     20.000000
mean      74.250000
std       19.072921
min       51.000000
25%       58.250000
50%       73.500000
75%       84.500000
max      113.000000
Name: wine_servings, dtype: float64

Series Arithmatics and fill_value()

In [10]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [11]:
alcohol + 2

country
Afghanistan      NaN
Albania         56.0
Algeria         16.0
Andorra        314.0
Angola          47.0
               ...
Venezuela        5.0
Vietnam          3.0
Yemen            NaN
Zambia           6.0
Zimbabwe         6.0
Name: wine_servings, Length: 193, dtype: float64

In [12]:
(alcohol - 10) * 2

country
Afghanistan      NaN
Albania         88.0
Algeria          8.0
Andorra        604.0
Angola          70.0
               ...
Venezuela      -14.0
Vietnam        -18.0
Yemen            NaN
Zambia         -12.0
Zimbabwe       -12.0
Name: wine_servings, Length: 193, dtype: float64

In [13]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [14]:
alcohol.sort_index(inplace=True)

In [15]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [16]:
more_drink = pd.Series({'Albania' : 6})

In [17]:
alcohol + more_drink

Afghanistan     NaN
Albania        60.0
Algeria         NaN
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 193, dtype: float64

In [18]:
more_drink = pd.Series({'Albania' : 6, 'Algeria' : 10})

In [19]:
alcohol + more_drink

Afghanistan     NaN
Albania        60.0
Algeria        24.0
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 193, dtype: float64

In [20]:
alcohol.add(more_drink)

Afghanistan     NaN
Albania        60.0
Algeria        24.0
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 193, dtype: float64

In [21]:
alcohol.add(more_drink, fill_value=0)

Afghanistan      NaN
Albania         60.0
Algeria         24.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Length: 193, dtype: float64

In [22]:
more_drink = pd.Series({'Albania' : 6, 'Algeria' : 10, 'Afghanistan' : 100, 'Yemen' : 101})

In [23]:
alcohol + more_drink

Afghanistan     NaN
Albania        60.0
Algeria        24.0
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 193, dtype: float64

In [24]:
alcohol.add(more_drink, fill_value=0)

Afghanistan    100.0
Albania         60.0
Algeria         24.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen          101.0
Zambia           4.0
Zimbabwe         4.0
Length: 193, dtype: float64

In [32]:
np.NaN + 2634648489

nan

In [34]:
np.NaN + 7465.745435

nan

In [35]:
more_drink = pd.Series({'Albania' : 6, 'Alberia' : 19, 'Algeria' : 10, 'Afghanistan' : 100, 'Yemen' : 101})

In [36]:
alcohol + more_drink

Afghanistan     NaN
Albania        60.0
Alberia         NaN
Algeria        24.0
Andorra         NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 194, dtype: float64

In [37]:
alcohol.add(more_drink, fill_value=0)

Afghanistan    100.0
Albania         60.0
Alberia         19.0
Algeria         24.0
Andorra        312.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen          101.0
Zambia           4.0
Zimbabwe         4.0
Length: 194, dtype: float64

In [38]:
alcohol - more_drink

Afghanistan     NaN
Albania        48.0
Alberia         NaN
Algeria         4.0
Andorra         NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 194, dtype: float64

In [39]:
alcohol.subtract(more_drink, fill_value=0)

Afghanistan   -100.0
Albania         48.0
Alberia        -19.0
Algeria          4.0
Andorra        312.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen         -101.0
Zambia           4.0
Zimbabwe         4.0
Length: 194, dtype: float64

In [40]:
alcohol.divide(more_drink, fill_value=1)

Afghanistan      0.010000
Albania          9.000000
Alberia          0.052632
Algeria          1.400000
Andorra        312.000000
                  ...
Venezuela        3.000000
Vietnam          1.000000
Yemen            0.009901
Zambia           4.000000
Zimbabwe         4.000000
Length: 194, dtype: float64

In [41]:
alcohol.multiply(more_drink, fill_value=1)

Afghanistan    100.0
Albania        324.0
Alberia         19.0
Algeria        140.0
Andorra        312.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen          101.0
Zambia           4.0
Zimbabwe         4.0
Length: 194, dtype: float64

In [42]:
alcohol.var()

5796.5256115328575

Variance is the average of squared differences from the mean

Variance measures how spread out data is from its mean.


**For a population:**

**σ² = Σ(xᵢ - μ)² / N**


**For a sample:**

**s² = Σ(xᵢ - x̄)² / (n - 1)**