In [ ]:
#Series are one dimensional labelled arrays of any data type

In [2]:
import pandas as pd
import numpy as np

In [3]:
students = ["Varun", "Shanker", "Ruchi"]

In [4]:
type(students)

list

In [5]:
pd.Series(students)

0      Varun
1    Shanker
2      Ruchi
dtype: object

In [6]:
ages = [27, 40, 30]

In [7]:
pd.Series(ages)

0    27
1    40
2    30
dtype: int64

In [8]:
height = [173.5, 164, 185.0]

In [9]:
pd.Series(height)

0    173.5
1    164.0
2    185.0
dtype: float64

In [10]:
mixed = [True, "AIML", {"marks" : 100}]

In [11]:
pd.Series(mixed)

0              True
1              AIML
2    {'marks': 100}
dtype: object

In [ ]:
# Parameter Vs. Arguments

In [12]:
pd.Series(students)

0      Varun
1    Shanker
2      Ruchi
dtype: object

In [13]:
pd.Series(data = students)

0      Varun
1    Shanker
2      Ruchi
dtype: object

In [14]:
def greeting(something):
    print(something)

In [15]:
greeting("good night")

good night

In [16]:
books_list = ["Hamlet", "Pride and Prejudice", "The Lord of the Rings"]

In [17]:
pd.Series(books_list)

0                   Hamlet
1      Pride and Prejudice
2    The Lord of the Rings
dtype: object

In [18]:
books_list = [0:"Hamlet", 1:"Pride and Prejudice", 2:"The Lord of the Rings"]

SyntaxError: invalid syntax (2576773755.py, line 1)

In [19]:
books_dict = {0:"Hamlet", 1:"Pride and Prejudice", 2:"The Lord of the Rings"}

In [20]:
pd.Series(books_dict)

0                   Hamlet
1      Pride and Prejudice
2    The Lord of the Rings
dtype: object

In [21]:
list_s = pd.Series(books_list)

In [22]:
dict_s = pd.Series(books_dict)

In [23]:
list_s.equals(dict_s)

True

In [24]:
pd.Series(654)

0    654
dtype: int64

In [25]:
pd.Series("Anup")

0    Anup
dtype: object

In [26]:
ages

[27, 40, 30]

In [27]:
pd.Series(ages)

0    27
1    40
2    30
dtype: int64

In [29]:
pd.Series(ages, dtype='float')

0    27.0
1    40.0
2    30.0
dtype: float64

In [ ]:
# Dtype for Series containing strings become an object automatically

In [30]:
students

['Varun', 'Shanker', 'Ruchi']

In [31]:
names_series = pd.Series(students)

In [32]:
names_series

0      Varun
1    Shanker
2      Ruchi
dtype: object

In [33]:
names_series.dtype

dtype('O')

In [34]:
height

[173.5, 164, 185.0]

In [35]:
heights2 = [173.5, "164", 185.0]

In [36]:
pd.Series(heights2)

0    173.5
1      164
2    185.0
dtype: object

In [37]:
list_s

0                   Hamlet
1      Pride and Prejudice
2    The Lord of the Rings
dtype: object

In [38]:
pd.Series(data = books_list, index=['serious', 'funny', 'interesting'])

serious                       Hamlet
funny            Pride and Prejudice
interesting    The Lord of the Rings
dtype: object

In [39]:
pd.Series(books_list,['serious', 'funny', 'interesting'])

serious                       Hamlet
funny            Pride and Prejudice
interesting    The Lord of the Rings
dtype: object

In [40]:
pd.Series(books_list,['serious', 'funny', 'interesting'], dtype = 'object')

serious                       Hamlet
funny            Pride and Prejudice
interesting    The Lord of the Rings
dtype: object

In [41]:
pd.Series(books_list,['serious', 'funny', 'interesting'], dtype = 'string')

serious                       Hamlet
funny            Pride and Prejudice
interesting    The Lord of the Rings
dtype: string