In [1]:
import pandas as pd
import numpy as np

In [2]:
books_list = ['Hamlet', 'Pride and Prejudice', 'The Lord of the Rings']

In [3]:
books_list

['Hamlet', 'Pride and Prejudice', 'The Lord of the Rings']

In [4]:
pd.Series(books_list)

0                   Hamlet
1      Pride and Prejudice
2    The Lord of the Rings
dtype: object

In [5]:
pd.Series(data=books_list, index=['funny', 'serious', 'interesting'])

funny                         Hamlet
serious          Pride and Prejudice
interesting    The Lord of the Rings
dtype: object

In [6]:
pd.Series(books_list, ['funny', 'serious', 'interesting'])

funny                         Hamlet
serious          Pride and Prejudice
interesting    The Lord of the Rings
dtype: object

In [7]:
pd.Series(books_list, ['funny', 'serious', 'interesting'], dtype='object')

funny                         Hamlet
serious          Pride and Prejudice
interesting    The Lord of the Rings
dtype: object

In [8]:
pd.Series(books_list, ['funny', 'serious', 'interesting'], dtype='string')

funny                         Hamlet
serious          Pride and Prejudice
interesting    The Lord of the Rings
dtype: string

In [9]:
pd.Series(dtype='string', books_list, ['funny', 'serious', 'interesting'])

SyntaxError: positional argument follows keyword argument (317573881.py, line 1)

In [10]:
books_dict = {0:'Hamlet', 1:'Pride and Prejudice', 2:'The Lord of the Rings'}

In [11]:
pd.Series(books_dict)

0                   Hamlet
1      Pride and Prejudice
2    The Lord of the Rings
dtype: object

In [12]:
list_s = pd.Series(books_list)

In [13]:
dict_s = pd.Series(books_dict)

In [14]:
list_s == dict_s

0    True
1    True
2    True
dtype: bool

In [15]:
list_s.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
type(list_s.index )

pandas.core.indexes.range.RangeIndex

In [17]:
pd.RangeIndex(start = 4, stop = 7, step = 1)

RangeIndex(start=4, stop=7, step=1)

In [18]:
list(pd.RangeIndex(start = 4, stop = 7, step = 1))

[4, 5, 6]

In [19]:
list(pd.RangeIndex(start = 10, stop = -11, step = -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [20]:
list_s

0                   Hamlet
1      Pride and Prejudice
2    The Lord of the Rings
dtype: object

In [21]:
books_series = list_s

Intelligegable : Capable of being understood

In [22]:
books_series

0                   Hamlet
1      Pride and Prejudice
2    The Lord of the Rings
dtype: object

Attributes Vs Methods

Attribute is like property of an object

Attributes is a variable bound to the object

Method is a function bound to the Object

In [23]:
books_series.size # attribute

3

In [24]:
list_s.equals(dict_s)

True

In [25]:
list_s.dtype # attribute

dtype('O')

In [26]:
books_series.name # name attribute

We are getting nothing back because the name Object is Pointing to the None Object in Python.

In [27]:
books_series.name == None

True

In [28]:
books_series

0                   Hamlet
1      Pride and Prejudice
2    The Lord of the Rings
dtype: object

In [29]:
books_series.name = 'my favorite books'

In [30]:
books_series

0                   Hamlet
1      Pride and Prejudice
2    The Lord of the Rings
Name: my favorite books, dtype: object

In [31]:
books_series.index.name

In [32]:
books_series.index.name == None

True

In [33]:
books_series.index.name = 'My books'

In [34]:
books_series

My books
0                   Hamlet
1      Pride and Prejudice
2    The Lord of the Rings
Name: my favorite books, dtype: object

Q1. Create a Python list of length 4 that contains some of your favourite friends. So 
this would be a list of strings. Call this list - assign it to a variable 
callled - friend_names

Q2. Next, create another python list of the same length that contains your guesses of how
old each one is, feel free to just use integers or floats.call this list friend_ages.

Q3. Create a series that stores friend ages and labels the ages using friend names. 
To Clarify, use friend name in the index and friend age as values. Give this series 
a name of friends.

Q4. Repeat step 3 but this time create the series from a Python dictionary. As an
additional challenge, try not to type the dictionary manuallly, but instead dynamically
create it using the two lists defined in Steps 1 and 2.