The head() and tail() methods

In [1]:
import pandas as pd
import numpy as np

In [2]:
int_series = pd.Series([i for i in range(60)])

In [3]:
int_series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [4]:
pd.Series(range(60))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [5]:
int_series.size

60

In [6]:
len(int_series)

60

In [7]:
int_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [8]:
int_series.tail()

55    55
56    56
57    57
58    58
59    59
dtype: int64

In [10]:
int_series.head(n=3)

0    0
1    1
2    2
dtype: int64

In [11]:
int_series.head(n=10)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [12]:
int_series.tail(n=7)

53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [13]:
pd.Series(range(1000000))

0              0
1              1
2              2
3              3
4              4
           ...
999995    999995
999996    999996
999997    999997
999998    999998
999999    999999
Length: 1000000, dtype: int64

In [14]:
pd.Series(range(100))

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [15]:
pd.Series(range(50))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
dtype: int64

In [16]:
pd.options.display.min_rows = 40

In [19]:
pd.Series(range(1000000))

0              0
1              1
2              2
3              3
4              4
5              5
6              6
7              7
8              8
9              9
10            10
11            11
12            12
13            13
14            14
15            15
16            16
17            17
18            18
19            19
           ...
999980    999980
999981    999981
999982    999982
999983    999983
999984    999984
999985    999985
999986    999986
999987    999987
999988    999988
999989    999989
999990    999990
999991    999991
999992    999992
999993    999993
999994    999994
999995    999995
999996    999996
999997    999997
999998    999998
999999    999999
Length: 1000000, dtype: int64

Accessing or Extracting the values from Series by Index Position

In [20]:
from string import ascii_lowercase

In [21]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [22]:
pd.Series("Varun")

0    Varun
dtype: object

In [23]:
pd.Series(ascii_lowercase)

0    abcdefghijklmnopqrstuvwxyz
dtype: object

In [24]:
list(ascii_lowercase)

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [25]:
len(list(ascii_lowercase))

26

In [26]:
letters = list(ascii_lowercase)

In [27]:
alphabet = pd.Series(letters)

In [28]:
alphabet.head(6)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [29]:
alphabet.head(1)

0    a
dtype: object

In [30]:
alphabet[1]

'b'

In [31]:
alphabet[0] # first letter

'a'

In [32]:
alphabet[10]    # 11th letter

'k'

In [33]:
alphabet[0:3] # first 3 letters

0    a
1    b
2    c
dtype: object

In [34]:
alphabet[:4] # first 4 letters

0    a
1    b
2    c
3    d
dtype: object

In [35]:
alphabet[5:10] # 6th through 10th letters

5    f
6    g
7    h
8    i
9    j
dtype: object

In [42]:
alphabet[20:26] # Last six letters

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [43]:
alphabet[-6:]

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Accessing Elements by Label

In [44]:
from string import ascii_uppercase

In [45]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [46]:
ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [47]:
labeled_alphabet = pd.Series(data=list(ascii_lowercase), index=list(ascii_uppercase))

In [48]:
labeled_alphabet

A    a
B    b
C    c
D    d
E    e
F    f
G    g
H    h
I    i
J    j
K    k
L    l
M    m
N    n
O    o
P    p
Q    q
R    r
S    s
T    t
U    u
V    v
W    w
X    x
Y    y
Z    z
dtype: object

In [49]:
labeled_alphabet.head(3)

A    a
B    b
C    c
dtype: object

In [51]:
labeled_alphabet = pd.Series(data=list(ascii_lowercase), index=map(lambda x: 'label_' + x,list(ascii_uppercase)))

In [52]:
labeled_alphabet

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [53]:
labeled_alphabet.head()

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
dtype: object

In [54]:
labeled_alphabet[0]

/var/folders/3b/ly9h8hy931j_x7b1h6dbr1wc0000gn/T/ipykernel_10708/2796743906.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  labeled_alphabet[0]

'a'

In [55]:
labeled_alphabet['label_A']

'a'

In [56]:
labeled_alphabet['label_K']

'k'

In [57]:
labeled_alphabet[:3]

label_A    a
label_B    b
label_C    c
dtype: object

In [58]:
labeled_alphabet[:'label_C']

label_A    a
label_B    b
label_C    c
dtype: object

In [59]:
labeled_alphabet[5:10]

label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [60]:
labeled_alphabet['label_F':'label_J']

label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [61]:
labeled_alphabet[20:25]

label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
dtype: object

In [62]:
labeled_alphabet[-6:]

label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [63]:
labeled_alphabet['label_U':]

label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object