Reading In Data with read_csv()

In [1]:
import pandas as pd
import numpy as np

what is csv?
Comma - Separated - Values (.csv) File

It is essentially a type of file format which conatins values delimited by or separated by comma.

It is a very common and popular data format.

In [ ]:
Azerbaijan,21,46,5,1.3
Bahamas,122,176,51,6.3
Bahrain,42,63,7,2
Bangladesh,,,,
Barbados,143,173,36,6.3
Belarus,142,373,42,14.4
Belgium,295,84,212,1.5
Belize,263,114,8,6.8
Benin,34,4,13,1.1
Bhutan,23,,,0.4
Bolivia,167,41,8,3.8
Bosnia-Herzegovina,76,173,8,4.6
Botswana,173,35,35,5.4
Brazil,245,145,16,7.2
Brunei,31,2,1,0.6

In [2]:
pd.read_csv('drinks.csv')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,89.0,132.0,54.0,4.9
2,Algeria,25.0,NaN,14.0,0.7
3,Andorra,245.0,138.0,312.0,12.4
4,Angola,217.0,57.0,45.0,5.9
...,...,...,...,...,...
188,Venezuela,333.0,1.0,3.0,7.7
189,Vietnam,111.0,2.0,1.0,2.0
190,Yemen,6.0,NaN,NaN,0.1
191,Zambia,32.0,19.0,4.0,2.5
192,Zimbabwe,64.0,18.0,4.0,4.7

In [3]:
pd.read_csv('drinks.csv', usecols=['country', 'wine_servings'])

         country  wine_servings
0    Afghanistan            NaN
1        Albania           54.0
2        Algeria           14.0
3        Andorra          312.0
4         Angola           45.0
..           ...            ...
188    Venezuela            3.0
189      Vietnam            1.0
190        Yemen            NaN
191       Zambia            4.0
192     Zimbabwe            4.0

[193 rows x 2 columns]

In [4]:
pd.read_csv('drinks.csv', usecols=['country', 'wine_servings'], index_col='country')

             wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
...                    ...
Venezuela              3.0
Vietnam                1.0
Yemen                  NaN
Zambia                 4.0
Zimbabwe               4.0

[193 rows x 1 columns]

In [5]:
alcohol = pd.read_csv('drinks.csv', usecols=['country', 'wine_servings'], index_col='country')

In [6]:
type(alcohol)

pandas.core.frame.DataFrame

In [ ]:
# Read CSV Method always returns us dataframe

In [7]:
alcohol.squeeze()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [8]:
alcohol = alcohol.squeeze()

In [9]:
type(alcohol)

pandas.core.series.Series

In [10]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [11]:
alcohol.size

193

In [12]:
alcohol.values

array([ nan,  54.,  14., 312.,  45.,  45., 221.,  11., 212., 191.,   5.,
        51.,   7.,  nan,  36.,  42., 212.,   8.,  13.,  nan,   8.,   8.,
        35.,  16.,   1.,  94.,   7.,  nan,   7.,  16.,   1.,   4.,   1.,
         1.,   1., 172.,   8.,   3.,   1.,   9.,  74.,  11., 254.,   5.,
       113., 134.,  nan,   1., 278.,   3.,  26.,   9.,   3.,   1.,   2.,
       233.,  nan,  59.,  nan,   1.,  97.,  37.,  59.,   1., 149., 175.,
         1., 218.,  28.,   2.,   2.,  21.,   1.,   1.,   2., 185.,  78.,
        nan,  nan,  nan,  nan, 165.,   9., 237.,   9.,  16.,   1.,  12.,
         2.,   1.,  nan,   6., 123.,  62.,  31.,  nan,   2.,  nan,  56.,
       271.,   4.,   1.,  nan,  nan,   1.,  12.,  nan,  nan,  18.,   5.,
        18.,  nan,   8., 128.,   1.,   5.,  nan,   1.,   8.,  nan,  19.,
       175.,   1.,   1.,   2.,   7., 129.,   1.,  nan,  23.,  18.,   1.,
        74.,  21.,   1.,  56., 339.,   7.,   9.,  18., 167.,  73.,  nan,
        32.,  71.,  11.,  24.,  nan,  14.,  nan,   7., 127.,  51.,   2.,
        11., 116., 276.,   1.,  nan,  81., 112.,  nan,  nan,   7.,   2.,
       186.,  28.,  16.,  nan,   1.,  86.,   4.,  19.,   5.,   7.,   2.,
         7.,  32.,   9.,  nan,  45.,   5., 195.,   1.,  84.,  22.,   8.,
        11.,   3.,   1.,  nan,   4.,   4.])

In [13]:
alcohol.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [14]:
alcohol.values.size == alcohol.index.size

True

In [15]:
len(alcohol)

193

Unique Values and Monotonicity attribute

In [16]:
alcohol.is_unique

False

In [17]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [18]:
alcohol.head().is_unique

True

In [19]:
alcohol.nunique(dropna=False)

72

Concept of Monotonicity comes from the Ordered theory in Maths

In [20]:
pd.Series([1,2,3]).is_monotonic_increasing

True

In [21]:
pd.Series([1,2,3,3,3,3,3,3]).is_monotonic_increasing

True

In [22]:
pd.Series([1,2,3,3,3,3,3,3,4,10,79,100]).is_monotonic_increasing

True

In [23]:
pd.Series([1,2,3,3,3,3,3,3,4,10,79,100,7]).is_monotonic_increasing

False

In [24]:
pd.Series([1,2,3,3,3,3,3,3,4,10,79,100,99.99]).is_monotonic_increasing

False

The Count() Method

In [25]:
alcohol.count() # Returns the number of non-NA/null observations in the series

162

In [26]:
alcohol.size

193

In [27]:
alcohol.hasnans

True

Null or NAs indicate absence of data

We will deal with identifying and Counting Nulls

In [28]:
alcohol.size # number of elements in the Series

193

In [29]:
alcohol.count() # number of non-null elements in the Series

162

In [30]:
alcohol.isna()

country
Afghanistan     True
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Venezuela      False
Vietnam        False
Yemen           True
Zambia         False
Zimbabwe       False
Name: wine_servings, Length: 193, dtype: bool

In [31]:
alcohol.isna().sum()

31

In [34]:
alcohol.isnull()

country
Afghanistan     True
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Venezuela      False
Vietnam        False
Yemen           True
Zambia         False
Zimbabwe       False
Name: wine_servings, Length: 193, dtype: bool

In [33]:
alcohol[alcohol.isnull()]

country
Afghanistan        NaN
Bangladesh         NaN
Bhutan             NaN
Burundi            NaN
North Korea        NaN
Eritrea            NaN
Ethiopia           NaN
India              NaN
Indonesia          NaN
Iran               NaN
Iraq               NaN
Kuwait             NaN
Lesotho            NaN
Libya              NaN
Malaysia           NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Myanmar            NaN
Nepal              NaN
Pakistan           NaN
Rwanda             NaN
San Marino         NaN
Saudi Arabia       NaN
Somalia            NaN
Sri Lanka          NaN
Sudan              NaN
Tajikistan         NaN
Uganda             NaN
Yemen              NaN
Name: wine_servings, dtype: float64

In [35]:
alcohol[alcohol.isnull()].index

Index(['Afghanistan', 'Bangladesh', 'Bhutan', 'Burundi', 'North Korea',
       'Eritrea', 'Ethiopia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Kuwait',
       'Lesotho', 'Libya', 'Malaysia', 'Maldives', 'Marshall Islands',
       'Mauritania', 'Monaco', 'Myanmar', 'Nepal', 'Pakistan', 'Rwanda',
       'San Marino', 'Saudi Arabia', 'Somalia', 'Sri Lanka', 'Sudan',
       'Tajikistan', 'Uganda', 'Yemen'],
      dtype='object', name='country')

In [36]:
type(alcohol[alcohol.isnull()].index)

pandas.core.indexes.base.Index

In [37]:
list(alcohol[alcohol.isnull()].index)

['Afghanistan',
 'Bangladesh',
 'Bhutan',
 'Burundi',
 'North Korea',
 'Eritrea',
 'Ethiopia',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Kuwait',
 'Lesotho',
 'Libya',
 'Malaysia',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Myanmar',
 'Nepal',
 'Pakistan',
 'Rwanda',
 'San Marino',
 'Saudi Arabia',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Tajikistan',
 'Uganda',
 'Yemen']

In [38]:
len(list(alcohol[alcohol.isnull()].index))

31

In [39]:
alcohol.isnull().sum()

31

# Booleans are integers in Python(0 and 1)

In [40]:
sum([True, False, True])

2

In [42]:
all = alcohol.size

In [43]:
nonnulls = alcohol.count()

In [44]:
nulls = alcohol.isnull().sum()

In [45]:
all == nonnulls + nulls

True