In [6]:
import pandas as pd
import numpy as np

In [7]:
alcohol = pd.read_csv('drinks.csv', usecols=['country', 'wine_servings'],
                       index_col='country')

In [8]:
alcohol = alcohol.squeeze()

Another approach to isolate null.

It involves using numpy Universal functions or ufuncs

Ufuncs allows us to perform Vectorized operations

Sequential Vs Vectoriozed Operation Operation

Vectorization referes to the concept of running operations on an entire arrays at once.

In [9]:
np.isnan

In [10]:
pd.Series(data=[True, False, None, 2], dtype=float)

0    1.0
1    0.0
2    NaN
3    2.0
dtype: float64

In [11]:
ser = pd.Series(data=[True, False, None, 2], dtype=float)

In [12]:
np.isnan(ser)

0    False
1    False
2     True
3    False
dtype: bool

In [13]:
ser

0    1.0
1    0.0
2    NaN
3    2.0
dtype: float64

In [14]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [15]:
alcohol[np.isnan]

country
Afghanistan        NaN
Bangladesh         NaN
Bhutan             NaN
Burundi            NaN
North Korea        NaN
Eritrea            NaN
Ethiopia           NaN
India              NaN
Indonesia          NaN
Iran               NaN
Iraq               NaN
Kuwait             NaN
Lesotho            NaN
Libya              NaN
Malaysia           NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Myanmar            NaN
Nepal              NaN
Pakistan           NaN
Rwanda             NaN
San Marino         NaN
Saudi Arabia       NaN
Somalia            NaN
Sri Lanka          NaN
Sudan              NaN
Tajikistan         NaN
Uganda             NaN
Yemen              NaN
Name: wine_servings, dtype: float64

In [16]:
alcohol[np.isnan].size

31

In [17]:
alcohol[alcohol.isna()]

country
Afghanistan        NaN
Bangladesh         NaN
Bhutan             NaN
Burundi            NaN
North Korea        NaN
Eritrea            NaN
Ethiopia           NaN
India              NaN
Indonesia          NaN
Iran               NaN
Iraq               NaN
Kuwait             NaN
Lesotho            NaN
Libya              NaN
Malaysia           NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Myanmar            NaN
Nepal              NaN
Pakistan           NaN
Rwanda             NaN
San Marino         NaN
Saudi Arabia       NaN
Somalia            NaN
Sri Lanka          NaN
Sudan              NaN
Tajikistan         NaN
Uganda             NaN
Yemen              NaN
Name: wine_servings, dtype: float64

Series.isna is an alias for Series.isnull

notnull() and notna()

In [18]:
# first Method
alcohol.notnull()

country
Afghanistan    False
Albania         True
Algeria         True
Andorra         True
Angola          True
               ...
Venezuela       True
Vietnam         True
Yemen          False
Zambia          True
Zimbabwe        True
Name: wine_servings, Length: 193, dtype: bool

In [19]:
alcohol.loc[alcohol.notnull()]

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [20]:
alcohol.notnull().sum()

162

In [21]:
alcohol.count()

162

In [22]:
alcohol.notnull().sum() + alcohol.isnull().sum() == alcohol.size

True

Equivalence between True and False and the integes 1 and 0 respectively.

Booleans are Literally Numbers in Python

Bools As Ints

True => 1
False => 0

In [23]:
True + 50

51

In [24]:
True + True - False

2

In [25]:
True + True - False + True * 3

5

In [26]:
5/False

ZeroDivisionError: division by zero

The bool class inherits from int class

Bool class is a subclass of int class 

bool -> int -> Object

In [27]:
type(True)

bool

In [28]:
type(False)

bool

In [29]:
bool.__mro__

(bool, int, object)

In [31]:
alcohol.isnull().sum()

31

Q1. Isolate the non-nulls in the alcohol series and assign them to the variable
wine_servings.

Q2. Calculate the total wine consumed by all the countries in wine_servings?

Q3. In the wine_servings dataset, what was the total wine consumed by countries that
consumed less than 100 servings?
Hint : apply a boolean mask to identify such countries, then sum().